*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    max-width: 980px;
    height: 100vh;
}

header{
    background-color: navy;
}

h1{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
h1 span{
    color: gold;
    font-size: 25px;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
nav a:hover{
    color: gold;
}
nav a:active{
    color: silver;
}

main{
    display: grid;
    margin: 0 auto;
    max-width: 980px;
}

.card{
    background-color: silver;
    margin: 20px 9px;
    border: 1px white;
    border-radius: 10px;
}


.card.intro{
    grid-column: 1 / 3;
}

.profile{
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-top: 20px;
}
.profile img{
    float: right;
    padding-left: 15px;
}
.profile p{
    padding-top: 15px;
}

.birthplace{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
}
.birthplace p{
    padding-top: 20px;
}

.flag{
    float: left;
}
.flag img{
    padding-bottom: 0px;
    padding-right: 15px;
    padding-top: 20px;
}
.flag figcaption{
    font-size: 16.5px;
    padding-top: 10px;
}

img{
    width: 190;
}

h3{
    text-align: center;
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
    width: 650px;
    margin: 0 auto;
}

.card.resources{
    grid-column: 3 / 3;
}
.resources ul{
    display: block;
    padding: 170px 50px;
}
.resources ul li{
    padding-bottom: 25px;
}
.resources ul li a{
    color: black;
    font-size: 25px;
}
.resources ul li a:hover{
    color: navy;
}

h2{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

p{
    font-size: 15.5px;
}

footer{
    background-color: navy;
    font-family: "Jacquarda Bastarda 9", serif;
}
footer p{
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: white;
}
footer #last p{
    color: gold;
    padding-bottom: 10px;
    font-size: 20px;
}

h1, h2, h3{
    font-family: "Press Start 2P", system-ui;
}

nav, main{
    font-family: "M PLUS Code Latin", monospace;
}