/*DESKTOP*/
@media (min-width: 1024px){
    *{
        margin: 0;
        padding: 0;
    }



    header{
        background-color: white;
        font-family: "Cinzel", serif;
    }

    #menu{
        display: none;
    }

    h1{
        margin: 0;
        font-size: 50px;
        color: navy;
    }

    .navigation{
        display: flex;
        gap: 60px;
        margin: 0;
        padding: 0;
    }

    nav a{
        color: black;
    }

    nav button{
        font-family: "Cinzel", serif;
        border: none; 
        padding: 10px 20px;
        margin: 0 1px;
    }

    nav button:hover{
        text-decoration: overline;
    }

    nav a:hover{
        color: gold;
    }




    main{
        background-color: navy;
        padding: 120px;
        font-family: "Petrona", serif;
    }

    h2{
        text-align: center;
        padding-bottom: 40px;
        font-size: 43px;
        color: white;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 50px;

    }






    footer{
        background: white;
        text-align: center;
        padding: 20px;
        color: navy;
        font-size: 20px;
    }



    
    header, footer{
        font-family: "Cinzel", serif;
    }
}