*{
    margin: 0;
    padding: 0;
    width: 300px;
}

:root{
    display: block;
    margin: 0 auto;
}




header{

}




main{
    background-color: green;

}




footer{

}




header, footer{
    background-color: pink;
    padding: 15px;
}