@media (min-width: 1024px){
    header{
        padding: 10px;
    }



    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .data {
        position: absolute;
        top: 15%;    /* 10% from the top */
        left: 2%;   /* 10% from the left */
        background-color: var(--secondary-color); /* Semi-transparent background */
        padding: 10px;
        width: 250px; /* Fixed width */
    }
    
    /* Weather section positioned at the bottom-right */
    .weather {
        position: absolute;
        bottom: 5%;  /* 10% from the bottom */
        right: 2%;   /* 10% from the right */
        background-color: var(--secondary-color); /* Semi-transparent background */
        padding: 10px;
        width: 250px; /* Fixed width */
    }

    .weather h2::after {
        content: '⛅';
        color: var(--accent-color);
        font-size: 2rem;
        margin-left: 10px;
    }

    .icon-mobile{
        display: none;
    }
      
    .icon-desktop{
        font-size: 1rem;
    }

    .highlight {
        background-color: var(--primary-color);      /* Blue background color */
        color: white;                /* Text color for contrast */
        padding: 10px 15px;         /* Padding around the text */
        margin-left: -15px;         /* Negative margin to pull it left */
        margin-top: 0;              /* Adjust top margin if necessary */
        margin-bottom: 20px;        /* Space below the header */
        border-radius: 5px;         /* Rounded corners (optional) */
        display: inline-block;       /* Allow margins and paddings to work correctly */
        width: 190px;
    }
    

    h2{
        background-color: var(--h2-background-color);
        color: var(--h2-color);
        text-align: justify;
        position: relative;
        display: inline-block;
    }



    footer{
        font-size: 20px;
        padding-bottom: 10px;
    }
}