body {
    background-color: #F08000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Special Elite", system-ui;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 20px;
    font-family: "Creepster", serif;
    font-size: 20px;
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
    text-shadow: 3px 3px black;
}

main {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 15px;
}

a {
    color: black;
    padding-left: 35px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: white;
    text-decoration: double;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-size: 17px;
    font-family: "Butterfly Kids", cursive;
    font-size: 29px;
}