/*MOBILE*/
*{
    margin: 0;
    padding: 0;
}

body{

}




header{
    background: white;
    padding: 40px;

}

#menu{
    font-size: 30px;
    border: 0;
    background: none;
    color: navy;
    position: fixed;
    top: 40px;
    right: 10px;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "❎";
}

h1{
    font-size: 30px;
    color: navy;
    margin: 0;
}

nav{
    max-width: 700px;
    margin: 1rem auto;
    display: none;
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}
.navigation a:hover{
    background-color: gold;
    color: white;
    font-weight: 700;
}

.open a{
    display: block;
}

.stuff{
    margin: 0.5m;
    border: 1px solid navy;
    background-color: white;
    max-width: 580px;
    height: 100vh;
}




main{
    background-color: navy;
    padding: 5px;
}

h2{
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: white;
}

figure{
    margin: 0;
    text-align: center;
    padding-bottom: 25px;
}

.gallery{
    grid-template-columns: 1fr;
}

img{
    width: 300px;
    height: 200px;
}

figcaption{
    color: white;
    padding-top: 5px;
}




footer{
    background-color: white;
    text-align: center;
    padding: 40px;
    font-size: 17px;
    color: navy;
}