/*MOBILE*/
@media (max-width: 320px){
    *{
        margin: 0;
        padding: 0;
    }

    body{

    }




    header{

    }

    .hamburger{
        display: block;
    }

    h1{
        font-size: 25px;
    }

    nav{
        display: none;
        flex-direction: column;
    }

    nav a{
        text-decoration: none;
        color: navy;
    }




    main{
        background-color: navy;
    }

    h2{
        font-size: 17.5px;
        text-align: center;
    }

    .gallery{
        grid-template-columns: 1fr;
    }

    .gallery img{
        width: 320px;
        height: 250px;
    }

    .gallery figcaption{
        text-align: center;
    }




    footer{
        background-color: white;
        color: navy;
        text-align: center;
    }
}